<div class="container">
  <div class="content">
    <h1 class="title-01">Planilha de <strong> Cadastro de clientes e fornecedores</strong></h1>
    <iframe
      src="https://www.youtube.com/embed/BBXn6TVgQF0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <ul class="types">
      <li>Oranize sua gestão</li>
      <li>Direcione a jornada do cliente</li>
      <li>Aumente suas vendas</li>
      <li>Fidelize seus clientes</li>
      <li>Gerencie seus cadastros corretamente</li>
    </ul>

    <article class="text-01">
      <p>
        A planilha de Cadastro de Clientes e Fornecedores grátis do QuantoSobra
        é essencial para empresas que buscam construir estratégias de vendas e
        marketing efetivas para aumentar suas vendas.
      </p>

      <p>
        Saber como criar e gerenciar um cadastro de clientes é essencial e por
        isso criamos esta planilha para você ter controle e oportunidades de
        negócio a partir de um contato mais próximo dos seus clientes.
      </p>

      <p>
        Com a planilha de cadastro de clientes e fornecedores grátis você
        consegue analisar os cadastros, identificar as tendências dos clientes,
        criar uma maior fidelização e aumentar a o percentual de acerto na
        comunicação com o mesmo.Veja no que mais ela te ajuda e tire suas
        dúvidas.
      </p>
      <a href="#">Saiba no que mais ela te ajuda e tire suas dúvidas</a>
    </article>
  </div>
  <div class="swapper">
    <form>
      <strong>Receba a planilha por e-mail</strong>
      <span>Preencha os seus dados para receber o material</span>
      <hr />
      <div class="form-group">
        <label for="email"> Qual é o seu email</label>
        <input type="email" class="form-control" id="email" required />
      </div>
      <input type="submit" value="Informar e-mail" class="form-control" />
    </form>

    <div class="warning-01">
      <strong>Importante</strong>
      <p>
        Para evitar que o e-mail seja enviado para sua caixa de SPAM, adicione
        este endereço aos seus contatos: mkt@quantosobra.com.br
      </p>
    </div>
  </div>
</div>
